<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>MainFormServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.MainFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryFormServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.CategoryFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductFormServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.ProductFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemFormServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.ItemFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.RemoveCartItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartFormServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.CartFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOnFormServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.SignOnFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.NewOrderFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOnServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.SignOnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.CaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccountServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.MyAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitOrderServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.SubmitOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrdersServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.ViewOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetailServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.ViewOrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.AutoCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartAjaxServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.UpdateCartAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.CheckUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAutoCompleteServlet</servlet-name>
        <servlet-class>csu.web.mypetstore.web.servlet.ProductAutoCompleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainFormServlet</servlet-name>
        <url-pattern>/mainForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryFormServlet</servlet-name>
        <url-pattern>/categoryForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductFormServlet</servlet-name>
        <url-pattern>/productForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemFormServlet</servlet-name>
        <url-pattern>/itemForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/addItemToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/updateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <url-pattern>/removeCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartFormServlet</servlet-name>
        <url-pattern>/cartForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOnFormServlet</servlet-name>
        <url-pattern>/signOnForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <url-pattern>/newOrderForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOnServlet</servlet-name>
        <url-pattern>/signOn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/captcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/updateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountServlet</servlet-name>
        <url-pattern>/myAccount</url-pattern> <!-- 与页面中MyAccount链接的href对应 -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/signOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitOrderServlet</servlet-name>
        <url-pattern>/submitOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrdersServlet</servlet-name>
        <url-pattern>/viewOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetailServlet</servlet-name>
        <url-pattern>/viewOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <url-pattern>/autocomplete</url-pattern> <!-- 与前端AJAX请求路径一致 -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartAjaxServlet</servlet-name>
        <url-pattern>/updateCartAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <url-pattern>/checkUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAutoCompleteServlet</servlet-name>
        <url-pattern>/productAuto</url-pattern>
    </servlet-mapping>
</web-app>